In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-01-17 04:02:21,5.4112,100.3354,84.20,74,20,8.05
1,1,Channel-Port Aux Basques,CA,2021-01-17 04:05:17,47.5702,-59.1367,32.23,93,100,27.11
2,2,Sechura,PE,2021-01-17 04:05:17,-5.5569,-80.8222,72.16,79,98,9.95
3,3,Mataura,NZ,2021-01-17 04:05:17,-46.1927,168.8643,57.99,89,98,5.26
4,4,Linhares,BR,2021-01-17 04:00:48,-19.3911,-40.0722,70.86,94,74,0.67

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind= city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgetown,MY,2021-01-17 04:02:21,5.4112,100.3354,84.20,74,20,8.05
8,8,Saint-Philippe,RE,2021-01-17 04:05:17,-21.3585,55.7679,84.20,70,0,4.61
12,12,Puerto Escondido,MX,2021-01-17 04:05:18,15.8500,-97.0667,75.54,78,28,4.05
13,13,Rikitea,PF,2021-01-17 04:05:18,-23.1203,-134.9692,79.21,68,41,7.25
17,17,Atuona,PF,2021-01-17 04:05:18,-9.8000,-139.0333,77.65,76,1,13.53
18,18,Ewa Beach,US,2021-01-17 04:05:19,21.3156,-158.0072,78.80,65,40,6.91
22,22,Avarua,CK,2021-01-17 04:05:20,-21.2078,-159.7750,84.20,70,75,3.44
26,26,Busselton,AU,2021-01-17 04:05:20,-33.6500,115.3333,86.00,31,0,5.99
29,29,Ternate,ID,2021-01-17 04:05:21,0.8000,127.4000,80.80,76,100,4.94
38,38,Pemangkat,ID,2021-01-17 04:05:23,1.1667,108.9667,82.24,78,100,11.65

In [13]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0         Georgetown      MY     84.20   5.4112  100.3354
8     Saint-Philippe      RE     84.20 -21.3585   55.7679
12  Puerto Escondido      MX     75.54  15.8500  -97.0667
13           Rikitea      PF     79.21 -23.1203 -134.9692
17            Atuona      PF     77.65  -9.8000 -139.0333
18         Ewa Beach      US     78.80  21.3156 -158.0072
22            Avarua      CK     84.20 -21.2078 -159.7750
26         Busselton      AU     86.00 -33.6500  115.3333
29           Ternate      ID     80.80   0.8000  127.4000
38         Pemangkat      ID     82.24   1.1667  108.9667

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Georgetown,MY,84.20,5.4112,100.3354,Cititel Penang
8,Saint-Philippe,RE,84.20,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
12,Puerto Escondido,MX,75.54,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
13,Rikitea,PF,79.21,-23.1203,-134.9692,Pension Maro'i
17,Atuona,PF,77.65,-9.8000,-139.0333,Villa Enata
18,Ewa Beach,US,78.80,21.3156,-158.0072,Base Lodging
22,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
26,Busselton,AU,86.00,-33.6500,115.3333,Observatory Guest House
29,Ternate,ID,80.80,0.8000,127.4000,Grand Dafam Bela Ternate
38,Pemangkat,ID,82.24,1.1667,108.9667,Kost H.Syamsuddin

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))